---
apiVersion: v1
kind: Namespace
metadata:
  name: external-secrets
---
apiVersion: v1
kind: Namespace
metadata:
  name: flux-system
---
apiVersion: v1
kind: Secret
metadata:
  name: sops-age
  namespace: flux-system
data:
  age.agekey: {{ ENV.FLUX_SOPS_PRIVATE_KEY }}
---
apiVersion: v1
data:
    identity: {{ ENV.GH_IDENTITY }}
    identity.pub: {{ ENV.GH_IDENTITY_PUB }}
    known_hosts: {{ ENV.GH_KNOWN_HOSTS }}
kind: Secret
metadata:
    name: github-ssh-key
    namespace: flux-system
type: Opaque
---
apiVersion: v1
data:
    token: {{ ENV.OP_TOKEN }}
    1password-credentials.json: {{ ENV.OP_CREDENTIALS_JSON }}
kind: Secret
metadata:
    name: onepassword-connect-secret
    namespace: external-secrets
type: Opaque
